<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<!--<string>https://dl.dropboxusercontent.com/s/2vahl9uijna3c03/jx1023.ipa</string>-->
					<!--<string>https://101.99.68.32/JXOnline/jx1023.ipa</string>-->
						<string>https://www.loongcraftprivate.com/20190222095800.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<!--<string>https://dl.dropboxusercontent.com/s/wdoxhhonzjjfq5r/jxqylogo.png</string>-->
					<!--<string>https://101.99.68.32/JXOnline/jxqylogo.png</string>-->
						<string>https://www.loongcraftprivate.com/jxqylogo.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
						<string>https://www.loongcraftprivate.com/jxqylogo.png</string>
					<!--<string>https://101.99.68.32/JXOnline/jxqylogo.png</string>-->
					<!--<string>https://dl.dropboxusercontent.com/s/wdoxhhonzjjfq5r/jxqylogo.png</string>-->
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.wanmei.long.ios</string>
				<key>bundle-version</key>
				<string>1.0.7</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>com.wanmei.long.ios</string>
				<key>title</key>
				<string>JXOnline</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>